<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <title>Geolocation API example</title>
</head>

<body>

    <p>Lat: <span id="lat-span">--</span></p>
    <p>Lon: <span id="lon-span">--</span></p>
    <p id="info"></p>
    
    <button type="button" onclick="getLocation()">Solicitar ubicación</button>
    
    <!-- Esta línea linkea el Javascript con el template -->
    <script src="static/js/scripts.js"></script>
</body>

</html>